<!-- 
name:string;
email:string;
password:string;
conformpassword:string;
gender:string;
country:string;
receiveNewsLetter:boolean;
status:string;

 -->
<div>
	<form>
Name:<input type="text" [(ngModel)]="name" name="name"><br>
Email:<input type="text" [(ngModel)]="email" name="email"><br>
Password:<input type="password" [(ngModel)]="password" name="password"><br>
ConformPassword:<input type="password" [(ngModel)]="conformpassword" name="conformpassword"><br>
Gender:<input type="radio" [(ngModel)]="gender" value="male" name="gender">MALE
<input type="radio" [(ngModel)]="gender" value="female" name="gender
">FeMALE<br>

Counrty:<select  [(ngModel)]="country" name="country">
	<option>Please Select u r country</option>
	<option>INDIA</option>
	<option>AUSTRALIA</option>
	<option>USA</option>
	<option>UK</option>
</select>
<br>
ReceiveNewsLetter:<input type="checkbox" [(ngModel)]="receiveNewsLetter" name="receiveNewsLetter"
 value="Yes"><br>
<input type="submit" (click)="onRegClick();" name="submit"><br>
</form>

<ng-content></ng-content>
</div>